input{
    width: 100%;
    height: 60px;
    font-size: 1.1rem;
    padding: 0 10px;
    border: 1px solid #ff4f43;
    background-color: transparent;
    outline: transparent;
    color: #ff4f43;
}


.p{
    position: absolute;
    transform: translate(10px, 3px);
    color: #ff4f43;
    font-size: 0.9rem;
}


@media (max-width: 768px) {
    input{
        height: 55px;
        margin-bottom: 20px;
    }
}